<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <article>
        <img src="<%= t[0].img%>" alt="" height="200px" width="200px">
        <h1><%= t[0].name %></h1>
        <span><%= t[0].price %></span>
        <span><%= t[0].rating %></span>
    </article>
</body>
</html>