<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <article>
        <img src="<%= res.img %>" alt="" height="200px" width="200px">
        <h5>name: <%= res.name %></h5>
        <h5>price: <%= res.price %></h5>
        <p><%= res.desciption %></p>
    </article>
</body>
</html>