<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show Product</title>
</head>
<body>
    <article>
        <% Products.map((data)=>{ %>
            <img src="<%= data.url %>" alt="" height="200px" width="200px">
            <h1> <%= data.p_name %> </li>
            <br>
            <aside>
                <button>Show</button>
                <button>edit</button>
                <button>delete</button>
            </aside>
        <% })%>
        </article>
</body>
</html>