<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Product</title>
</head>
<body>
    <form action="/products" method="post">
        <label for="">Product Name</label>
        <input type="text" name="a_name" id="">
        <br>
        <label for="">Product Price</label>
        <input type="number" name="a_price" id="">
        <br>
        <label for="">Img url</label>
        <input type="text" name="a_url" id="">
        <br>
        <button type="submit">Submit</button>
    </form>
    
</body>
</html>