<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Product</title>
</head>
<body>
    <h1>Add products</h1>
    <form action="/product/new" method="post">
        <label for="">Task</label>
        <input type="text" name="Ttask" id="">
        <br>
        <label for="">status</label>
        <label for="">true</label>
        <input type="radio" name="tstatus" id="">
        <label for="">false</label>
        <input type="radio" name="tstatus" id="">
    </form>
</body>
</html>