<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Product</title>
</head>
<body>
    <form action="/submit" method="get">
        <label for="">add Product</label>
        <input type="text" name="p_name" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>