<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="/todo/new" method="post">
        <label for="">task</label>
        <input type="text" name="Ttask" id="">
        <br>
        <label for="">status</label>
        <label for="">true</label>
        <input type="radio" name="Tstatus" id="" value="true">
        <label for="">fasle</label>
        <input type="radio" name="Tstatus" id="" value="fasle">
        <br>
        <label for="">priority</label>
        <input type="text" name="Tpriorty" id="">
        <br><button type="submit">submit</button>
    </form>
</body>
</html>