<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>urlshortner</title>
</head>
<body>
    <form action="/shorturl" method="post">
            <label>complete Url<label>
            <input type="text" name="url">
            <br>
            <button type="submit">short</button>
    </form>
    <br>
    <article>
        <% s.map((data)=>{ %>
            
        <% })  %>
    </article>
        
</body>
</html>