<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="/register" method="post">
        <label for="">Username</label>
        <input for="text" name="Uname" id="">
        <label for="">gender</label>
        <label for="">Male</label>
        <input type="radio" name="gender" id="" value="male">
        <label for="">Female</label>
        <input type="radio" name="gender" id="" value="Female">
        <label for="">Age</label>
        <input type="number" name="Uage" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>