<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list all todos</title>
</head>
<body>
    <article>
        <%  Products.map((data)=>{  %>
            <img src="<%= data.url%>" alt="" height="200px" width="200px">
            <h1>Name  : <%= data.Pname %></h1>
            <h4>Price : <%= data.Pprice %></h4>
            <section>
                <button><a href="">Show</a></button>
                <button><a href="">edit</a></button>
                <button><a href="">Delete</a></button> 
            </section>
            <% }) %>
    </article>
    

    
</body>
</html>