<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
</head>
<body>
    <form action="/sub" method="post">
        <label for="">Name</label>
        <input type="text" name="Uname" id="">
        <br>
        <label for="">id</label>
        <input type="text" name="Uid" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>