<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
</head>
<body>
    <h1>Edit todo</h1>
    <form action="/todo/<%= e[0]._id %>?_method=PUT" method="post">
        <label for="">task</label>
        <input type="text" name="Etask" id="" value="<%=e[0].task %>">
        <label for="">status</label>
        <br>
        <label for="">True</label>
        <input type="radio" name="Estatus" id="" value="true">
        <label for="">False</label>
        <input type="radio" name="Estatus" id="" value="False">
        <label for="">priority</label>
        <input type="text" name="Epriority" id="" 
        value="<%= t[0].priority %>">
    </form>
</body>
</html>